html, body {
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
    font-family: Avenir;
}
/*----------------Шапка--------------------------*/
header {
    margin: 0px;
    background-color: cadetblue;
    height: 100px;
}

.list h2 {
    color: #b30217;
    /*margin: 3% auto auto 10%;*/
}

.list ul {
    display: inline;
}

.list li {
    display: inline-block;
    margin-left: 20%;
    color: #ffffff;
}

.call {
    color: #b3798a;
    border-color: #b370ac;
    border-radius: 5px;
    width: 140px;
    height: 40px;
}

.call:hover {
    background-color: #fff;
    color: #b30217;
}

nav {
    height: 60px;
    background: #ffffff;
}

nav ul li {
    display: inline;
    margin-left: 15%;
}

nav ul {
    padding-top: 17px;
}

nav ul li a {
    text-decoration: none;
    color: #b3798a;
}

nav ul li a:hover {
    color: #b30217;
}

/*----------------Карусель--------------------------*/
.slider {
    height: 1000px;
    background-color: coral;
}

.carousel-wrapper {/*Блок где находится карусель*/
    height:400px;
    position:relative;
    width:800px;
    margin:20px auto 0px auto;
}
.carousel-item {/**/
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;/*Плавная анимация*/
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}
.arrow-next{
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
[id^="item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size:cover;
}
.item-2{
    background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
    background-size:cover;
}
.item-3{
    background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
    background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/*----------------------Булеты----------------------------*/
.point {
    text-decoration: none;
    color: black;
    font-size: 25pt;
    margin-left: 5px;
}
.point:hover {
    color: #b3798a;
}
.points {
    text-align: center;
}
/*----------------------Блок с селектором----------------------------*/
.category {
    height: 800px;
    background-color: white;
}

.category .c_a li {
    display: inline-block;
    border-radius: 5px;
    border-color: #b370ac;
    text-align: center;
    margin: 2% 82px auto;
    background-color: coral;
    width: 150px;
    padding-top: 10px;
    height: 30px;
}

.category ul li a {
    text-decoration: none;
    color: #b30217;
}

.card {
    border-style: solid;
    border-color: coral;
    width: 210px;
    height: 300px;
    margin-left: 32px;
    margin-top: 20px;
}
.card button {
    background-color: #ffffff;
    width: 210px;
    height: 53px;
    padding: 0px;
    margin: 0px;
    color: coral;
    border-style: none;
}

.category ul li {
    display: inline-block;
}

#1 { display: none;}